* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #003366;
    background-color:  #f8e1e1;
}
main {
    padding-top:50px;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background:#003366;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center; /* Align items vertically */
}
.navbar a img {
    margin-right: 15px; /* Space to the right of each image */
}
.logo img {
    width: 80px;
}

nav {
    flex: 1; /* Take available space for centering */
    text-align: center;
}

nav ul {
    display: inline-flex; /* Align items horizontally */
    list-style-type: none; /* Remove bullet points */
    gap: 50px; /* Add spacing between nav items */
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #ffc2c2;
    font-weight: bold;
    font-size: 16px; /*Font size*/
    transition: color 0.3s; /* Hover effect */
}

nav ul li a:hover {
    color: lightgray; /* Change color on hover */
}
.menu-icon {
    display: none; /* Hide by default */
    cursor: pointer; /* Pointer cursor for menu icon */
}

.cart-icon {
    height: 30px;
    width: 30px;
}

/* Carousel Section */
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
.carousel-images {
    display: flex;
    transition: transform 1s ease-in-out;
}
  
.carousel-image {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}
.carousel-images a {
    display: block; /* Make links cover the entire image */
    flex-shrink: 0; /* Prevent shrinking */
    width: 100%; /* Each image fills the carousel width */
}  
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
  
.carousel-button.prev {
    left: 10px;
}
  
.carousel-button.next {
    right: 10px;
}


/*New Arrival & Sale*/
.new-arrivals {
    padding: 50px 25px; /* Padding around the section */
    text-align: center; /* Center the content */
}

.new-arrivals h1 {
    font-size: 50px; /* Large heading for New Arrivals */
    margin-bottom: 30px; /* Space below the heading */
}
.sale {
    padding: 25px; /* Padding around the section */
    text-align: center; /* Center the content */
}
.sale h1{
    font-size: 80px; /* Large heading for New Arrivals */
    margin-bottom: 30px; /* Space below the heading */
    color: #f44336;
    font-weight: bolder;
}

.homeproducts {
    margin: auto;
    display: flex;
    justify-content: center; /* Space between each product */
    gap: 50px;
    flex-wrap: wrap;
}

.homeproduct {
    background-color: #faeded;
    border-radius: 15px;
    color: #003366;
    width: 25%; /* Each product takes 30% of the container's width */
    border: 1px solid #ddd; /* Light border around each product */
    padding: 10px; /* Padding inside each product container */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    transition: transform 0.3s ease; /* Smooth scale effect on hover */
    text-decoration: none; /* Remove underline from links */
}

.homeproduct:hover {
    transform: scale(1.05); /* Slightly enlarge product on hover */
    box-shadow: 0 4px 8px #00000033; /* Add shadow on hover */
}

.homeproduct-image {
    width: 100%; /* Make image take up the full width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
    border-bottom: 1px solid #ddd; /* Divider between image and text */
}

.homeproduct-name {
    font-size: large; /* Product name font size */
    margin-top: 10px; /* Space above the product name */
    font-weight: bold; /* Make the product name bold */
}


/*PRODUCT*/
 /* Filters */
.filter-section {
    max-width: 1000px;
    padding-top: 50px;
    margin: auto;
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-end;
    font:bold;
}

.filter-section select {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 15px;
    color:  #faeded;
    background-color:#003366;
}
.products-grid {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: space-between; /* Space between the items */
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    gap: 20px; /* Space between cards */
  }
  /* Product Grid */
.product-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    background: #fff;
    position: relative;
    display: block;
    flex: 0 1 30%;
    color: #003366;
}
.product-card:hover {
    transform: scale(1.05); /* Slightly enlarge product on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.badges {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.badge {
    color: #faeded;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.badge.sale {
    background-color: #f44336;
}

.badge.new {
    background-color: #0056b3;
}

.badge.bestseller {
    background-color: #21b300; 
}

.product-card h2 {
    font-size: medium;
    padding: 20px;
    padding-bottom: 5px;
}
.product-card .original-price {
    text-decoration: line-through; /* Strike-through for the original price */
    color: #888; /* Light color for the original price */
    margin-right: 10px;
  }
  
  .product-card .discounted-price {
    font-weight: bold;
    color: #f44336;
  }

.product-card .price {
    padding-left: 20px;
    font-size: 16px;
    color: #333;
  }

.product-card .rating {
    color: gold;
    padding-left: 20px;
    padding-bottom: 15px;
}

/*Individual Product Page*/
/* Container for the whole product section */
.indivprod-container {
    display: flex;
    position:relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 1080px;
    margin: auto;
}
  .product-directory {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

.product-directory a {
    text-decoration: none;
    transition: color 0.2s ease;
}

.product-directory a:hover {
    color: #0077cc;
}
  
/* Product images section (left side) */
.indivprod-images {
    flex: 1 1 50%; /* Flex 1 means it will take up 50% of the container width */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 10px;
}

.main-image img {
    max-width: 100%; /* Ensure the main image takes up the full width of its container */
    height: auto;
    border-radius: 10px;
    border: 2px solid #003366;
}

.image-sm {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.smallimg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #faeded;
}
.smallimg.active{
    border:2px inset #003366;
}

/* Product details section (right side) */
.indivprod-details {
    padding: 150px;
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}
.size-select{
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    color:#faeded;
    background-color:#003366;
} 
/* Color selection (circles) */
.color-options {
    display: flex;
    gap: 10px;
}

.color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.color-option.active {
    border:2px inset #003366;
}

/* Quantity and Add to Cart */
.quantity-cart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quantity {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    background-color: #003366;
    color: #faeded  ;
}

.add-to-cart {
    padding: 10px 20px;
    background-color:#003366 ;
    color: #faeded;
    border: none;
    cursor: pointer;
    border-radius: 10px
}

.add-to-cart:hover {
    background-color: #0056b3;
}

/*CART*/
.cart-heading {
    width:1080px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin:auto;

}

.cart {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    padding-top: 50px;
    background-color: #faeded;
    border-radius: 15px;
}
.empty-cart-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin: 50px 0;
}

.empty-cart-message p {
    font-weight: bold;
    color: #0056b3;
}

.empty-cart-message a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #003366;
    color: #faeded;
    text-decoration: none;
    border-radius: 8px;
}

.empty-cart-message a:hover {
    background-color: #0056b3;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8e1e1;
    border-radius: 15px;
    margin-bottom: 15px;
}

.cart-item-img-container {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.cart-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item-details {
    flex: 2;
}

.cart-item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cart-item-color,.cart-item-price {
    font-size: 14px;
}

.remove-link {
    color: #0056b3;
    cursor: pointer;
}

.cart-item-quantity, .cart-item-subtotal {
    width: 150px;
    text-align: center;
}

.cart-item-quantity input {
    width: 60px;
    padding: 5px 10px;
    margin:auto;
    border-radius: 10px;
    color:  #faeded;
    background-color:#003366;
}

.cart-summary {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 16px;
}

.summary-item {
    margin-bottom: 5px;
}

.summary-item.total {
    font-weight: bold;
    font-size: 18px;
    color: #0056b3;
}

.checkout {
    margin-top: 20px;
    text-align: center;
}

.checkout-button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.checkout-button:hover {
    background-color: #0056b3;
}





  @media only screen and (max-width: 800px) {
    nav ul
    {
        position:absolute;
        display:inline;
        top: 50px;
        left: 0;
        background: #ccccff;
        width: 100%;
        overflow:hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #ffffff;
    }
    .menu-icon{
        display:block;
        cursor: pointer;
    }

    .homeproduct{
        flex:0 1 100%; 
    }
    .homeproducts{
        width:80%;
    }
    .product-card{
        flex:1 1 100%;
    }
    .indivprod-container{
        width: 100%;
    }
    .indivprod-details{
        padding: 30px;
        flex:0 1 80%;
    }
}
    
